
body, html {
	height: 100%;
	margin: 0;
	font-family: Verdana, Geneva, sans-serif;
}

#container {
	margin: 0;
	padding: 0;
	width: 100%;
}

#background {
	background-image: url("https://i.imgur.com/Anc183b.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


/* header styling */

#header {
	height: 60px;
	background-color: rgb(47,50,57);
	background-color: rgba(47,50,57,.6);
	position: fixed;
	top: 0;
	width: 100%;
}

#myName {
	display: inline;
	margin: 0 0 0 100px;
	padding: 10px;
	float: left;
	color: #fff;
}

#navigation {
	list-style-type: none;
	margin: 0 80px 0 0;
	padding: 0;
	float: right;
}

li {
	float: left;
}

li a {
	display: inline-block;
	color: #fff;
	text-align: center;
	text-decoration: none;
	padding: 20px 30px;
}

/* Content styling */

.section {
	padding: 50px 100px;
}

h2 {
	font-size: 1.2em;
	border-bottom: 0.5px solid #000;
	width: 100px;
	padding-bottom: 8px;
}

p {
	font-size: 14px;
	line-height: 18px;
}

/*#portrait {
	width: 20%;
	border: 1px solid #B2B2B2;
	border-radius: 20%;
	-webkit-box-shadow: 3px 3px 4px #939393;
	-moz-box-shadow: 3px 3px 4px #939393;
	box-shadow: 3px 3px 4px #939393;
}*/

.bgColor {
	background-color: #bac1c7;
	margin: 0;
	height: 500px;
}

/*#work {
	margin-left: 100px;
	padding-top: 50px;
}*/

.projects {
	width: 31%;
	height: 300px;
	display: inline-block;
	background-color: #fff;
	margin: auto;
	margin-left: 1.5%;
}
