
body, html {
	height: 100%;
	margin: 0;
	font-family: Verdana, Geneva, sans-serif;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
	margin: 0;
	padding: 0;
	width: 100%;
	background-image: url("../images/cover1.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


/* ======================== Header Styling ======================== */

.header {
	height: 60px;
	/*background-color: rgb(47,50,57);
	background-color: rgba(47,50,57,.6);*/
	position: fixed;
	top: 0;
	width: 100%;
	padding-top: 10px;
}

.myName {
	margin: 0 0 0 10px;
	padding: 10px;
	color: #fff;
	font-family: 'Lobster Two', cursive;
	letter-spacing: 3px;
	font-size: 38px;
	text-align: center;
}

.navigation {
	list-style-type: none;
	margin: 10px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.navigation-link {
	color: #fff;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	font-size: 15px;
}

.navigation-link:hover {
	background-color: #fff;
	border: 1px solid #f2f2f2;
	color: #000;
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(115, 115, 115, .7);
}

/* ======================== Content Styling ======================== */

.about,
.contact {
	width: 100%;
}

.about {
	padding: 30px 10px;
	margin: 0 0 30px;
}

.contact {
	padding: 80px 10px 0;
	margin: 0 auto;
}

.contact h2 {
	width: 120px;
}

.section-title {
	font-size: 18px;
	border-bottom: 0.50px solid #000;
	width: 100px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

p {
	font-size: 14px;
	line-height: 24px;
}

.work {
	margin: 0;
	height: 140%;
	display: flex;
	align-items: center;
}

.myPortfolio {
	background-color: #bac1c7;
	height: 110%;
	width: 100%;
	margin: 20px 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 40px 0;
}

.myPortfolio a {
	width: 90%;
	text-decoration: none;
	display: block;
	box-shadow: 0 0 3px 2px #ccc;
}

img {
	width: 100%;
}

.contact-details {
	margin: 50px 0;
}

.icon {
	width: 40px;
	vertical-align: middle;
}

.text-icon {
	padding-left: 5px;
}

.footer {
	height: 150px;
	background-color: #000;
	color: #fff;
	position: relative;
}

small {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 12%;
	position: absolute;
	top: 70px;
	right: 0;
	left: 0;
}

.social-networks {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: absolute;
	top: 25px;
	right: 0;
	left: 0;
}

.social-links {
	text-decoration: none;
	margin: 2%;
}

.social-icons {
	width: 40px;
	padding: 2px;
}

/* ======================== Media Queries ======================== */

/*@media (min-width: 479px) {

}*/

@media (min-width: 767px) {
	.myName {
		margin: 0 0 0 50px;
		float: left;
		font-size: 35px;
	}

	.navigation {
		margin: 15px 50px 0 0;
		padding-top: 12px;
		float: right;
	}

	.navigation-link {
		padding: 20px 15px;
	}

	.about,
	.contact {
		width: 70%;
	}

	.about {
		padding: 50px 30px;
		margin: 0 auto;
	}

	.work {
		background-color: #bac1c7;
		height: 100%;
	}

	.myPortfolio {
		background-color: transparent;
		height: 100%;
		width: 100%;
		margin: 20px 15px;
		padding: 0;
		flex-wrap: nowrap;
	}

	.myPortfolio a {
		width: 65%;
		margin: 0 1%;
	}

	.contact {
		padding: 50px 30px;
	}

	.contact-details {
		margin: 50px 0 0;
	}

	.text-icon {
		padding-left: 8px;
	}

	.footer {
		height: 120px;
		position: static;
	}

	small {
		float: left;
		width: 75%;
		height: 100%;
		justify-content: flex-start;
		align-items: center;
		padding: 0 0 0 50px;
		position: static;
	}

	.social-networks {
		float: right;
		width: 25%;
		height: 100%;
		justify-content: space-around;
		align-items: center;
		padding-right: 50px;
		position: static;
	}

}

@media (min-width: 1023px) {
	.myName {
		margin: 0 0 0 100px;
		font-size: 38px;
	}

	.navigation {
		margin: 15px 80px 0 0;
		padding-top: 5px;
	}

	.navigation-link {
		padding: 20px 30px;
		font-size: 17px;
	}

	.about,
	.contact {
		width: 60%;
	}

	.about {
		padding: 120px 50px;
	}

	.contact {
		padding: 105px 50px;
	}

	.section-title {
		font-size: 1.2em;
	}

	p {
		font-size: 15px;
		line-height: 22px;
	}

	.work {
		height: 90%;
	}

	.myPortfolio {
		width: 90%;
		margin: 0 auto;
		padding: 0;
	}

	.myPortfolio a {
		width: 30%;
		margin: 0 1%;
	}

	.footer {
		height: 100px;
	}

	small {
		width: 78%;
		padding: 0 0 0 100px;
	}

	.social-networks {
		width: 22%;
		padding-right: 100px;
	}
}

@media (min-width: 1223px) {
	.about,
	.contact {
		width: 50%;
	}

	.work {
		height: 100%;
	}

	.portfolio {
		width: 80%;
	}
}
